/*Global Styles */
body {
  margin: auto;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  width: 70%;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*Nav Styles*/
nav {
  display: flex;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1;

  justify-content: space-between;
  align-items: center;
  padding: 5px;

  width: 70%;
  height: 50px;
}
nav h1 {
  font-family: "Righteous", cursive;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 20px;
  list-style: none;
}

/*section  Styles*/

.spotlight {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 70px;
}

.spotlight img {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 25px;
}

.spotlight h2,
.spotlight p {
  color: white;
  position: absolute;
  bottom: 25%;
  right: 25%;
}

.spotlight p {
  bottom: 20%;
}

/*main  Styles*/

main {
  display: flex;
  justify-content: center;
  margin: 20px;

  height: 900px;
}

.grid {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(400px);
  gap: 20px 40px;
}
#panel1,
#panel4 {
  grid-column: span 3;
}

#panel2,
#panel3 {
  grid-column: span 2;
}

main div {
  position: relative;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
main div h2 {
  position: absolute;
  bottom: 0;
  color: white;
}

/* rest of blog section (including aside) */
.main-blog {
  display: flex;
  flex: wrap;
}

.blog-section {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  height: 300px;
}

.blog-section div:nth-child(2) {
  width: 40%;
}
