/* basic  button style */
button {
    cursor: pointer;
    display: inline-block;
    
}

/* BUTTON 1 ----------------------------------- */ 
#button1 {
    background-color: #0000ff;
    color: aliceblue;
    border-radius: 10px 0px ;
    border-color: darkblue;
    padding: 15px 25px;
}

#button1:hover
 {
    background-color: #2e2ea1;
 }

 #button1:active {

    background-color: #8787e4;
 }
 
/* ---------------BUTTON 2 ----------------------------------- */ 
 #button2 {
    background-color: #db5520f5;
    color: aliceblue;
    border-radius: 20px 5px ;
    border-color: #09f309fd;
    padding: 10px 10px;
}

#button2:hover
 {
    background-color: #f07f53b0;
 }

 #button2:active {

    background-color: #b8938a;
 }
