/* basic  button style */
button {
    cursor: pointer;
    display: inline-block;
    
}

/* BUTTON 1 ----------------------------------- */ 
#button1 {
    background-color: #0000ff;
    color: aliceblue;
    border-radius: 10px 0px ;
    border-color: darkblue;
    padding: 15px 25px;
}

#button1:hover
 {
    background-color: #2e2ea1;
 }

 #button1:active {

    background-color: #8787e4;
 }
 
/* ---------------BUTTON 2 ----------------------------------- */ 
 #button2 {
    background-color: #db5520f5;
    color: aliceblue;
    border-radius: 20px 5px ;
    border-color: #09f309fd;
    padding: 10px 10px;
}

#button2:hover
 {
    background-color: #f07f53b0;
 }

 #button2:active {

    background-color: #b8938a;
 }


 /* ---------------BUTTON 3 ----------------------------------- */ 
 #button3 {
    background-color: #ff0000;
    color: white;
    border-radius: 5px ;
    border-color: #8d0000;
    padding: 10px 10px;
}

#button3:hover
 {
    transform: rotate(360deg);
    transition: all 1s;
 }

 #button2:active {

    background-color: #ff48009d;
 }


  /* ---------------BUTTON 4 ----------------------------------- */ 
  #button4 {
    background-color: #000000;
    color: white;
    border-radius: 5px 0px 0px 0px ;
    border: 0px;
    padding: 15px 15px;
}

#button4:hover
 {
    font-size: 1rem;
    font-weight: bold;
 }

 #button4:active {

    background-color: #00000036;
    box-shadow: black inset 2px 2px  5px 2px;
 }


  /* ---------------BUTTON 4 ----------------------------------- */ 
  #button5 {
    background-color: #b254dd;
    color: white;
    border-radius: 5px 0px 0px 0px ;
    border: 0px;
    padding: 15px 15px;
}

#button5:hover
 {
    box-shadow: #cda1e2 0px 10px 2px;
 }

 #button5:active {

    background-color: #ae00ff;
    
 }
