/* basic  button style */
button {
    cursor: pointer;
    display: inline-block;
    
}


#button1 {
    background-color: blue;
    color: aliceblue;
    border-radius: 10px 0px ;
    border-color: darkblue;
    padding: 15px 25px;
}

