body {
  box-sizing: border-box;
  background-color: black;
}

h1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: aliceblue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;

  padding: 10px;
}

#letterBox {
  width: 20%;
  height: 50px;
  flex: 1 0 15%;
  background-color: black;
  margin: 5px;
  border: 1px gray solid;
}
